<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>All Users</h1>
    <form method="GET" action="{{ url_for('get_users') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="search">

        <label for="min_age">Min Age:</label>
        <input type="number" id="min_age" name="min_age">

        <label for="max_age">Max Age:</label>
        <input type="number" id="max_age" name="max_age">

        <button type="submit">Filter</button>
    </form>

    <ul>
        {% if users %}
            {% for user in users %}
                <li>ID: {{ user[0] }}, Name: {{ user[1] }}, Age: {{ user[2] }}</li>
            {% endfor %}
        {% else %}
            <li>No users found.</li>
        {% endif %}
    </ul>

    <a href="{{ url_for('home') }}">
        <button>Back to Home</button>
    </a>
</body>
</html>
